
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;

}

header {
  background-color: #0e0a06;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  margin: 0;
}

.header-bar {
  background-color: #575656;
  padding: 1rem 0;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  padding: 0.5rem;
}

nav a:hover {
  background-color: #444;
}

.hero {
  background-image: url('ceylon_symphony_hero.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero h2 {
  font-size: 2.5rem;
}


.info {
  background-color: #444;
  color: #f2f2f2;
  padding: 2rem;
  text-align: center;
}

.info h3 {
  font-size: 1.8rem;
  color: #d9bfa0;
}

.info p {
  font-size: 1.2rem;
}

footer {
  background-color: #050403;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.button-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 15px; /* Adjust the value to control the roundness of the edges */
  width: 250px; /* Increase the width as needed */
  height: 150px; /* Increase the height as needed */
  color: #fff; /* Set the initial text color to white */
}

.button img {
  width: 250px;
  height: 150px; /* Adjust the width and height according to your image size */
  object-fit: cover;
  transition: transform 0.3s ease;
}

.button:hover img {
  transform: scale(1.1); /* Increase the scale value to make the image slightly larger on hover */
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent overlay on hover */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.button:hover::before {
  opacity: 1; /* Show the overlay on hover */
  color: #000; /* Change text color to black on hover */
  font-size: 18px; /* Font size for the text */
}

/* Additional styles to enhance the appearance */
.button-container {
  background-color: #351b03;
  padding: 20px;
}

.button {
  margin: 10px;
  box-shadow: 0 2px 5px rgba(255, 190, 11, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

.button:hover .button-text {
  display: block;
}


#myCanvas {
        display: block;
        margin: 40px auto;
        border: 2px solid #ccc;
        height: 600px;
        width: 800px;
        
    }

    .Recoder_buttons {
      text-align: center;
      margin: 20px;
    }
  
    .Recoder_buttons button {
      padding: 10px 20px;
      margin: 5px;
      font-size: 16px;
      cursor: pointer;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 5px;
    }
  
    .Recoder_buttons button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  
    .Recoder_buttons button:hover {
      background-color: #0056b3;
    }
  
    .Recoder_buttons audio {
      width: 100%;
      margin-top: 20px;
    }
    .gui-container {
      position: absolute;
      top: 255px; /* Adjust as needed */
      left: 906px; /* Adjust as needed */
      z-index: 1; /* Ensure it's on top of the canvas */
    }
    .visual-library {
      position: absolute;
      top: 41%; /* Adjust the top position as needed */
      right: 120px; /* Adjust the right position as needed */
      transform: translateY(-50%);
      overflow: hidden;
      border-radius: 10%; /* Create a round button */
      width: 160px; /* Adjust the width as needed */
      height: 100px; /* Adjust the height as needed */
      background-color: #000; /* Background color */
      cursor: pointer;
      transition: transform 0.3s ease, background-color 0.3s ease;
    }
    
    .visual-library img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .visual-library:hover {
      transform: scale(1.1); /* Increase the scale value to make the button slightly larger on hover */
      background-color: #333; /* Change background color on hover */
    }
    
    .visual-library:hover .button-text {
      display: block; /* Show the text on hover */
      color: #fff; /* Change text color to white for visibility */
      font-size: 18px;
      padding: 10px 0;
      text-align: center;
      cursor: pointer;
    }
    
    .visual-library .button-text {
      display: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      cursor: pointer;
    }
    
    .mouse-pan-guide img {
      position: absolute;
      top: 270px; 
      left: 360px; 
      width: 80px; 
      height: 80ppx; 
    }
    .mouse-pan-guide2 img {
      position: absolute;
      top: 270px;
      left: 420px;
      width: 80px; 
      height: 80px; 
    }
    .mouse-pan-guide3 img {
      position: absolute;
      top: 270px;
      left: 480px;
      width: 80px; 
      height: 80px; 
    }
    .mouse-pan-guide4 img {
      position: absolute;
      top: 270px;
      left: 540px;
      width: 80px; 
      height: 80px; 
    }
.logo img{
  position: absolute;
  top: 220px;
  left: 840px;
  width: 300px; 
  height: 200px;
}
.rec img{
  position: absolute;
  top: 750px;
  left: 1070px;
  width: 70px; 
  height: 70px;


}


    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f2f2f2;
      color: #333;
      text-align: center;
    }
    
    .dropdown {
      position: absolute; /* Set the position to absolute */
      top: 210px;
      right: 1290px; /* Adjust the right position as needed */
      padding: 20px;
    }
    
    #imageDropdown {
      padding: 10px;
      font-size: 16px;
    }
    
    .image-container {
      display: none; /* Hide the image container by default */
    }
    
    /* Add any additional styles you need */
    
    .image-container {
      display: none;
      position: absolute; /* Set the position to absolute */
      top: 300px; /* Adjust the top position as needed */
      left: 20px; /* Adjust the left position as needed */
      /* You can also use 'right' or 'bottom' as needed */
    }
    
  /* Add styles to the dropdown menu button */
/* Add styles to the dropdown menu button */
.dropdown-button {
  background-color: rgb(240, 178, 6); /* Set the background color to black */
  color: rgb(0, 0, 0); /* Set the text color to white */
  border: none; /* Remove the button border */
  border-radius: 5px; /* Add a small border radius to the button */
  padding: 10px 20px; /* Add some padding for a better look */
  cursor: pointer;
}

.dropdown2 {
  position: absolute; /* Set the position to absolute */
  top: 210px;
  right: 890px; /* Adjust the right position as needed */
  padding: 20px;
}

#imageDropdown {
  padding: 10px;
  font-size: 16px;
}

.image-container {
  display: none; /* Hide the image container by default */
}

/* Add any additional styles you need */

.image-container {
  display: none;
  position: absolute; /* Set the position to absolute */
  top: 300px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
  /* You can also use 'right' or 'bottom' as needed */
}

/* Add styles to the dropdown menu button */
/* Add styles to the dropdown menu button */
.dropdown-button {
background-color: rgb(240, 178, 6); /* Set the background color to black */
color: rgb(0, 0, 0); /* Set the text color to white */
border: none; /* Remove the button border */
border-radius: 5px; /* Add a small border radius to the button */
padding: 10px 20px; /* Add some padding for a better look */
cursor: pointer;
}

.resources {
  position: absolute; /* Adjust the position as needed */
  top: 500px;
  right: 120px;
  transform: translateY(-50%);
  overflow: hidden;
  border-radius: 10%;
  width: 160px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  background-color: #000; /* Background color */
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.resources img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resources:hover {
  transform: scale(1.1); /* Increase the scale value to make the button slightly larger on hover */
  background-color: #333; /* Change background color on hover */
}

.resources .button-text {
  display: block; /* Set the initial display value to block */
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

